In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/epi_sim.zip')

In [3]:
df.shape

(9434653, 6)

In [4]:
(df
    .groupby(['rep', 'intervened', 'tr'])['ig_type']
    .count()
    .groupby(level='rep')
    .cumsum()
)

rep  intervened  tr
0    8           0.000166          1
     9           0.000152          4
                 0.000166          5
     10          0.000152          6
                 0.000166          7
     12          0.000152         10
                 0.000166         15
     13          0.000152         16
                 0.000166         19
     14          0.000152         22
                 0.000166         28
     15          0.000152         35
                 0.000166         39
     16          0.000152         45
                 0.000166         58
     17          0.000152         67
                 0.000166         74
     18          0.000152         92
                 0.000166        106
     19          0.000152        113
                 0.000166        129
     20          0.000152        152
                 0.000166        167
     21          0.000152        186
                 0.000166        201
     22          0.000152        220
                 0.000166        256
     23          0.000152        285
                 0.000166        310
     24          0.000152        344
                              ...
2    171         0.000135    3509100
                 0.000166    3509101
     172         0.000152    3509102
     173         0.000135    3509104
                 0.000166    3509105
     174         0.000135    3509107
                 0.000166    3509108
     175         0.000135    3509109
                 0.000152    3509110
     177         0.000135    3509111
     178         0.000135    3509113
                 0.000152    3509114
     179         0.000135    3509116
     180         0.000135    3509117
     181         0.000135    3509118
     183         0.000135    3509120
     184         0.000152    3509121
                 0.000166    3509122
     185         0.000166    3509123
     186         0.000135    3509124
     187         0.000152    3509125
                 0.000166    3509126
     189         0.000135    3509127
                 0.000152    3509128
     190         0.000166    3509129
     193         0.000135    3509130
                 0.000152    3509131
     195         0.000135    3509132
     198         0.000166    3509133
     199         0.000135    3509134
Name: ig_type, Length: 1196, dtype: int64

In [17]:
gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [19]:
gapminder.sample(20)

              country continent  year  lifeExp        pop     gdpPercap
1225           Poland    Europe  1957   65.770   28235346   4734.253019
873           Lebanon      Asia  1997   70.265    3430388   8754.963850
754           Ireland    Europe  2002   77.783    3879155  34077.049390
1438        Sri Lanka      Asia  2002   70.815   19576783   3015.378833
1372  Slovak Republic    Europe  1972   70.350    4593433   9674.167626
546             Gabon    Africa  1982   56.564     753874  15113.361940
696             India      Asia  1952   37.373  372000000    546.565749
739              Iraq      Asia  1987   65.044   16543189  11643.572680
69          Australia   Oceania  1997   78.830   18565243  26997.936570
1403          Somalia    Africa  2007   48.159    9118773    926.141068
1232           Poland    Europe  1992   70.990   38370697   7738.881247
971        Mauritania    Africa  2007   64.164    3270065   1803.151496
1082      Netherlands    Europe  1962   73.230   11805689  12790.849560
91            Bahrain      Asia  1987   70.750     454612  18524.024060
641             Haiti  Americas  1977   49.923    4908554   1874.298931
1158             Oman      Asia  1982   62.728    1301048  12954.791010
100        Bangladesh      Asia  1972   45.252   70759295    630.233627
970        Mauritania    Africa  2002   62.247    2828858   1579.019543
1056          Namibia    Africa  1952   41.725     485831   2423.780443
214           Burundi    Africa  2002   47.360    7021078    446.403513

In [20]:
gapminder.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [21]:
gapminder.groupby(['continent', 'year']).lifeExp.mean()

continent  year
Africa     1952    39.135500
           1957    41.266346
           1962    43.319442
           1967    45.334538
           1972    47.450942
           1977    49.580423
           1982    51.592865
           1987    53.344788
           1992    53.629577
           1997    53.598269
           2002    53.325231
           2007    54.806038
Americas   1952    53.279840
           1957    55.960280
           1962    58.398760
           1967    60.410920
           1972    62.394920
           1977    64.391560
           1982    66.228840
           1987    68.090720
           1992    69.568360
           1997    71.150480
           2002    72.422040
           2007    73.608120
Asia       1952    46.314394
           1957    49.318544
           1962    51.563223
           1967    54.663640
           1972    57.319269
           1977    59.610556
           1982    62.617939
           1987    64.851182
           1992    66.537212
           1997    68.020515
           2002    69.233879
           2007    70.728485
Europe     1952    64.408500
           1957    66.703067
           1962    68.539233
           1967    69.737600
           1972    70.775033
           1977    71.937767
           1982    72.806400
           1987    73.642167
           1992    74.440100
           1997    75.505167
           2002    76.700600
           2007    77.648600
Oceania    1952    69.255000
           1957    70.295000
           1962    71.085000
           1967    71.310000
           1972    71.910000
           1977    72.855000
           1982    74.290000
           1987    75.320000
           1992    76.945000
           1997    78.190000
           2002    79.740000
           2007    80.719500
Name: lifeExp, dtype: float64

In [22]:
s = gapminder.groupby(['continent', 'year']).lifeExp.mean()

In [23]:
type(s)

pandas.core.series.Series

In [24]:
s.index

MultiIndex(levels=[['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], [1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=['continent', 'year'])

In [25]:
s.columns

AttributeError: 'Series' object has no attribute 'columns'

In [26]:
s.unstack()

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500

In [28]:
s.reset_index().head()

  continent  year    lifeExp
0    Africa  1952  39.135500
1    Africa  1957  41.266346
2    Africa  1962  43.319442
3    Africa  1967  45.334538
4    Africa  1972  47.450942

In [14]:
# could've done the same thing with pivot_table

In [30]:
s

continent  year
Africa     1952    39.135500
           1957    41.266346
           1962    43.319442
           1967    45.334538
           1972    47.450942
           1977    49.580423
           1982    51.592865
           1987    53.344788
           1992    53.629577
           1997    53.598269
           2002    53.325231
           2007    54.806038
Americas   1952    53.279840
           1957    55.960280
           1962    58.398760
           1967    60.410920
           1972    62.394920
           1977    64.391560
           1982    66.228840
           1987    68.090720
           1992    69.568360
           1997    71.150480
           2002    72.422040
           2007    73.608120
Asia       1952    46.314394
           1957    49.318544
           1962    51.563223
           1967    54.663640
           1972    57.319269
           1977    59.610556
           1982    62.617939
           1987    64.851182
           1992    66.537212
           1997    68.020515
           2002    69.233879
           2007    70.728485
Europe     1952    64.408500
           1957    66.703067
           1962    68.539233
           1967    69.737600
           1972    70.775033
           1977    71.937767
           1982    72.806400
           1987    73.642167
           1992    74.440100
           1997    75.505167
           2002    76.700600
           2007    77.648600
Oceania    1952    69.255000
           1957    70.295000
           1962    71.085000
           1967    71.310000
           1972    71.910000
           1977    72.855000
           1982    74.290000
           1987    75.320000
           1992    76.945000
           1997    78.190000
           2002    79.740000
           2007    80.719500
Name: lifeExp, dtype: float64

In [34]:
s.loc['Americas']

year
1952    53.27984
1957    55.96028
1962    58.39876
1967    60.41092
1972    62.39492
1977    64.39156
1982    66.22884
1987    68.09072
1992    69.56836
1997    71.15048
2002    72.42204
2007    73.60812
Name: lifeExp, dtype: float64

In [35]:
s.loc['Americas', 2007]

73.60812000000001

In [36]:
s.loc[:, 2007]

continent
Africa      54.806038
Americas    73.608120
Asia        70.728485
Europe      77.648600
Oceania     80.719500
Name: lifeExp, dtype: float64

In [37]:
df = s.unstack()

In [38]:
df

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500

In [39]:
s.loc['Americas']

year
1952    53.27984
1957    55.96028
1962    58.39876
1967    60.41092
1972    62.39492
1977    64.39156
1982    66.22884
1987    68.09072
1992    69.56836
1997    71.15048
2002    72.42204
2007    73.60812
Name: lifeExp, dtype: float64

In [41]:
s.loc['Americas', 2007]

73.60812000000001

In [42]:
gapminder.sample(10)

                     country continent  year  lifeExp       pop     gdpPercap
421                 Djibouti    Africa  1957   37.328     71851   2864.969076
1367               Singapore      Asia  2007   79.972   4553009  47143.179640
1106               Nicaragua  Americas  1962   48.632   1590597   3634.364406
1339                  Serbia    Europe  1987   71.218   9230783  15870.878510
24                   Algeria    Africa  1952   43.077   9279525   2449.008185
634            Guinea-Bissau    Africa  2002   45.504   1332459    575.704718
806                   Jordan      Asia  1962   48.126    933559   2348.009158
234                 Cameroon    Africa  1982   52.961   9250831   2367.983282
2                Afghanistan      Asia  1962   31.997  10267083    853.100710
144   Bosnia and Herzegovina    Europe  1952   53.820   2791000    973.533195

In [44]:
gm = gapminder.set_index(['continent', 'year'])

In [45]:
gm

                    country  lifeExp       pop    gdpPercap
continent year
Asia      1952  Afghanistan   28.801   8425333   779.445314
          1957  Afghanistan   30.332   9240934   820.853030
          1962  Afghanistan   31.997  10267083   853.100710
          1967  Afghanistan   34.020  11537966   836.197138
          1972  Afghanistan   36.088  13079460   739.981106
          1977  Afghanistan   38.438  14880372   786.113360
          1982  Afghanistan   39.854  12881816   978.011439
          1987  Afghanistan   40.822  13867957   852.395945
          1992  Afghanistan   41.674  16317921   649.341395
          1997  Afghanistan   41.763  22227415   635.341351
          2002  Afghanistan   42.129  25268405   726.734055
          2007  Afghanistan   43.828  31889923   974.580338
Europe    1952      Albania   55.230   1282697  1601.056136
          1957      Albania   59.280   1476505  1942.284244
          1962      Albania   64.820   1728137  2312.888958
          1967      Albania   66.220   1984060  2760.196931
          1972      Albania   67.690   2263554  3313.422188
          1977      Albania   68.930   2509048  3533.003910
          1982      Albania   70.420   2780097  3630.880722
          1987      Albania   72.000   3075321  3738.932735
          1992      Albania   71.581   3326498  2497.437901
          1997      Albania   72.950   3428038  3193.054604
          2002      Albania   75.651   3508512  4604.211737
          2007      Albania   76.423   3600523  5937.029526
Africa    1952      Algeria   43.077   9279525  2449.008185
          1957      Algeria   45.685  10270856  3013.976023
          1962      Algeria   48.303  11000948  2550.816880
          1967      Algeria   51.407  12760499  3246.991771
          1972      Algeria   54.518  14760787  4182.663766
          1977      Algeria   58.014  17152804  4910.416756
...                     ...      ...       ...          ...
Asia      1982  Yemen, Rep.   49.113   9657618  1977.557010
          1987  Yemen, Rep.   52.922  11219340  1971.741538
          1992  Yemen, Rep.   55.599  13367997  1879.496673
          1997  Yemen, Rep.   58.020  15826497  2117.484526
          2002  Yemen, Rep.   60.308  18701257  2234.820827
          2007  Yemen, Rep.   62.698  22211743  2280.769906
Africa    1952       Zambia   42.038   2672000  1147.388831
          1957       Zambia   44.077   3016000  1311.956766
          1962       Zambia   46.023   3421000  1452.725766
          1967       Zambia   47.768   3900000  1777.077318
          1972       Zambia   50.107   4506497  1773.498265
          1977       Zambia   51.386   5216550  1588.688299
          1982       Zambia   51.821   6100407  1408.678565
          1987       Zambia   50.821   7272406  1213.315116
          1992       Zambia   46.100   8381163  1210.884633
          1997       Zambia   40.238   9417789  1071.353818
          2002       Zambia   39.193  10595811  1071.613938
          2007       Zambia   42.384  11746035  1271.211593
          1952     Zimbabwe   48.451   3080907   406.884115
          1957     Zimbabwe   50.469   3646340   518.764268
          1962     Zimbabwe   52.358   4277736   527.272182
          1967     Zimbabwe   53.995   4995432   569.795071
          1972     Zimbabwe   55.635   5861135   799.362176
          1977     Zimbabwe   57.674   6642107   685.587682
          1982     Zimbabwe   60.363   7636524   788.855041
          1987     Zimbabwe   62.351   9216418   706.157306
          1992     Zimbabwe   60.377  10704340   693.420786
          1997     Zimbabwe   46.809  11404948   792.449960
          2002     Zimbabwe   39.989  11926563   672.038623
          2007     Zimbabwe   43.487  12311143   469.709298

[1704 rows x 4 columns]

In [46]:
gm.index

MultiIndex(levels=[['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], [1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]],
           labels=[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=['continent', 'year'])

In [47]:
gm.sort_index(inplace=True)

In [48]:
gm

                                 country  lifeExp       pop     gdpPercap
continent year
Africa    1952                   Algeria   43.077   9279525   2449.008185
          1952                    Angola   30.015   4232095   3520.610273
          1952                     Benin   38.223   1738315   1062.752200
          1952                  Botswana   47.622    442308    851.241141
          1952              Burkina Faso   31.975   4469979    543.255241
          1952                   Burundi   39.031   2445618    339.296459
          1952                  Cameroon   38.523   5009067   1172.667655
          1952  Central African Republic   35.463   1291695   1071.310713
          1952                      Chad   38.092   2682462   1178.665927
          1952                   Comoros   40.715    153936   1102.990936
          1952          Congo, Dem. Rep.   39.143  14100005    780.542326
          1952               Congo, Rep.   42.111    854885   2125.621418
          1952             Cote d'Ivoire   40.477   2977019   1388.594732
          1952                  Djibouti   34.812     63149   2669.529475
          1952                     Egypt   41.893  22223309   1418.822445
          1952         Equatorial Guinea   34.482    216964    375.643123
          1952                   Eritrea   35.928   1438760    328.940557
          1952                  Ethiopia   34.078  20860941    362.146280
          1952                     Gabon   37.003    420702   4293.476475
          1952                    Gambia   30.000    284320    485.230659
          1952                     Ghana   43.149   5581001    911.298937
          1952                    Guinea   33.609   2664249    510.196492
          1952             Guinea-Bissau   32.500    580653    299.850319
          1952                     Kenya   42.270   6464046    853.540919
          1952                   Lesotho   42.138    748747    298.846212
          1952                   Liberia   38.480    863308    575.572996
          1952                     Libya   42.723   1019729   2387.548060
          1952                Madagascar   36.681   4762912   1443.011715
          1952                    Malawi   36.256   2917802    369.165080
          1952                      Mali   33.685   3838168    452.336981
...                                  ...      ...       ...           ...
Europe    2007                  Slovenia   77.926   2009245  25768.257590
          2007                     Spain   80.941  40448191  28821.063700
          2007                    Sweden   80.884   9031088  33859.748350
          2007               Switzerland   81.701   7554661  37506.419070
          2007                    Turkey   71.777  71158647   8458.276384
          2007            United Kingdom   79.425  60776238  33203.261280
Oceania   1952                 Australia   69.120   8691212  10039.595640
          1952               New Zealand   69.390   1994794  10556.575660
          1957                 Australia   70.330   9712569  10949.649590
          1957               New Zealand   70.260   2229407  12247.395320
          1962                 Australia   70.930  10794968  12217.226860
          1962               New Zealand   71.240   2488550  13175.678000
          1967                 Australia   71.100  11872264  14526.124650
          1967               New Zealand   71.520   2728150  14463.918930
          1972                 Australia   71.930  13177000  16788.629480
          1972               New Zealand   71.890   2929100  16046.037280
          1977                 Australia   73.490  14074100  18334.197510
          1977               New Zealand   72.220   3164900  16233.717700
          1982                 Australia   74.740  15184200  19477.009280
          1982               New Zealand   73.840   3210650  17632.410400
          1987                 Australia   76.320  16257249  21888.889030
          1987               New Zealand   74.320   3317166  19007.191290
          1992                 Australia   77.560  17481977  23424.766830
          1992               New Zealand   76.330   3437674  18363.324940
          1997                 Australia   78.830  18565243  26997.936570
          1997               New Zealand   77.550   3676187  21050.413770
          2002                 Australia   80.370  19546792  30687.754730
          2002               New Zealand   79.110   3908037  23189.801350
          2007                 Australia   81.235  20434176  34435.367440
          2007               New Zealand   80.204   4115771  25185.009110

[1704 rows x 4 columns]

In [49]:
gm.loc['Americas']

                  country  lifeExp        pop     gdpPercap
year
1952            Argentina   62.485   17876956   5911.315053
1952              Bolivia   40.414    2883315   2677.326347
1952               Brazil   50.917   56602560   2108.944355
1952               Canada   68.750   14785584  11367.161120
1952                Chile   54.745    6377619   3939.978789
1952             Colombia   50.643   12350771   2144.115096
1952           Costa Rica   57.206     926317   2627.009471
1952                 Cuba   59.421    6007797   5586.538780
1952   Dominican Republic   45.928    2491346   1397.717137
1952              Ecuador   48.357    3548753   3522.110717
1952          El Salvador   45.262    2042865   3048.302900
1952            Guatemala   42.023    3146381   2428.237769
1952                Haiti   37.579    3201488   1840.366939
1952             Honduras   41.912    1517453   2194.926204
1952              Jamaica   58.530    1426095   2898.530881
1952               Mexico   50.789   30144317   3478.125529
1952            Nicaragua   42.314    1165790   3112.363948
1952               Panama   55.191     940080   2480.380334
1952             Paraguay   62.649    1555876   1952.308701
1952                 Peru   43.902    8025700   3758.523437
1952          Puerto Rico   64.280    2227000   3081.959785
1952  Trinidad and Tobago   59.100     662850   3023.271928
1952        United States   68.440  157553000  13990.482080
1952              Uruguay   66.071    2252965   5716.766744
1952            Venezuela   55.088    5439568   7689.799761
1957            Argentina   64.399   19610538   6856.856212
1957              Bolivia   41.890    3211738   2127.686326
1957               Brazil   53.285   65551171   2487.365989
1957               Canada   69.960   17010154  12489.950060
1957                Chile   56.074    7048426   4315.622723
...                   ...      ...        ...           ...
2002          Puerto Rico   77.778    3859606  18855.606180
2002  Trinidad and Tobago   68.976    1101832  11460.600230
2002        United States   77.310  287675526  39097.099550
2002              Uruguay   75.307    3363085   7727.002004
2002            Venezuela   72.766   24287670   8605.047831
2007            Argentina   75.320   40301927  12779.379640
2007              Bolivia   65.554    9119152   3822.137084
2007               Brazil   72.390  190010647   9065.800825
2007               Canada   80.653   33390141  36319.235010
2007                Chile   78.553   16284741  13171.638850
2007             Colombia   72.889   44227550   7006.580419
2007           Costa Rica   78.782    4133884   9645.061420
2007                 Cuba   78.273   11416987   8948.102923
2007   Dominican Republic   72.235    9319622   6025.374752
2007              Ecuador   74.994   13755680   6873.262326
2007          El Salvador   71.878    6939688   5728.353514
2007            Guatemala   70.259   12572928   5186.050003
2007                Haiti   60.916    8502814   1201.637154
2007             Honduras   70.198    7483763   3548.330846
2007              Jamaica   72.567    2780132   7320.880262
2007               Mexico   76.195  108700891  11977.574960
2007            Nicaragua   72.899    5675356   2749.320965
2007               Panama   75.537    3242173   9809.185636
2007             Paraguay   71.752    6667147   4172.838464
2007                 Peru   71.421   28674757   7408.905561
2007          Puerto Rico   78.746    3942491  19328.709010
2007  Trinidad and Tobago   69.819    1056608  18008.509240
2007        United States   78.242  301139947  42951.653090
2007              Uruguay   76.384    3447496  10611.462990
2007            Venezuela   73.747   26084662  11415.805690

[300 rows x 4 columns]

In [50]:
gm.loc['Americas', 2007]

                            country  lifeExp        pop     gdpPercap
continent year
Americas  2007            Argentina   75.320   40301927  12779.379640
          2007              Bolivia   65.554    9119152   3822.137084
          2007               Brazil   72.390  190010647   9065.800825
          2007               Canada   80.653   33390141  36319.235010
          2007                Chile   78.553   16284741  13171.638850
          2007             Colombia   72.889   44227550   7006.580419
          2007           Costa Rica   78.782    4133884   9645.061420
          2007                 Cuba   78.273   11416987   8948.102923
          2007   Dominican Republic   72.235    9319622   6025.374752
          2007              Ecuador   74.994   13755680   6873.262326
          2007          El Salvador   71.878    6939688   5728.353514
          2007            Guatemala   70.259   12572928   5186.050003
          2007                Haiti   60.916    8502814   1201.637154
          2007             Honduras   70.198    7483763   3548.330846
          2007              Jamaica   72.567    2780132   7320.880262
          2007               Mexico   76.195  108700891  11977.574960
          2007            Nicaragua   72.899    5675356   2749.320965
          2007               Panama   75.537    3242173   9809.185636
          2007             Paraguay   71.752    6667147   4172.838464
          2007                 Peru   71.421   28674757   7408.905561
          2007          Puerto Rico   78.746    3942491  19328.709010
          2007  Trinidad and Tobago   69.819    1056608  18008.509240
          2007        United States   78.242  301139947  42951.653090
          2007              Uruguay   76.384    3447496  10611.462990
          2007            Venezuela   73.747   26084662  11415.805690

In [51]:
gm.loc[('Americas', 2007), :]

                            country  lifeExp        pop     gdpPercap
continent year
Americas  2007            Argentina   75.320   40301927  12779.379640
          2007              Bolivia   65.554    9119152   3822.137084
          2007               Brazil   72.390  190010647   9065.800825
          2007               Canada   80.653   33390141  36319.235010
          2007                Chile   78.553   16284741  13171.638850
          2007             Colombia   72.889   44227550   7006.580419
          2007           Costa Rica   78.782    4133884   9645.061420
          2007                 Cuba   78.273   11416987   8948.102923
          2007   Dominican Republic   72.235    9319622   6025.374752
          2007              Ecuador   74.994   13755680   6873.262326
          2007          El Salvador   71.878    6939688   5728.353514
          2007            Guatemala   70.259   12572928   5186.050003
          2007                Haiti   60.916    8502814   1201.637154
          2007             Honduras   70.198    7483763   3548.330846
          2007              Jamaica   72.567    2780132   7320.880262
          2007               Mexico   76.195  108700891  11977.574960
          2007            Nicaragua   72.899    5675356   2749.320965
          2007               Panama   75.537    3242173   9809.185636
          2007             Paraguay   71.752    6667147   4172.838464
          2007                 Peru   71.421   28674757   7408.905561
          2007          Puerto Rico   78.746    3942491  19328.709010
          2007  Trinidad and Tobago   69.819    1056608  18008.509240
          2007        United States   78.242  301139947  42951.653090
          2007              Uruguay   76.384    3447496  10611.462990
          2007            Venezuela   73.747   26084662  11415.805690

In [54]:
gm.loc[('Americas', 2007), :]

                            country  lifeExp        pop     gdpPercap
continent year
Americas  2007            Argentina   75.320   40301927  12779.379640
          2007              Bolivia   65.554    9119152   3822.137084
          2007               Brazil   72.390  190010647   9065.800825
          2007               Canada   80.653   33390141  36319.235010
          2007                Chile   78.553   16284741  13171.638850
          2007             Colombia   72.889   44227550   7006.580419
          2007           Costa Rica   78.782    4133884   9645.061420
          2007                 Cuba   78.273   11416987   8948.102923
          2007   Dominican Republic   72.235    9319622   6025.374752
          2007              Ecuador   74.994   13755680   6873.262326
          2007          El Salvador   71.878    6939688   5728.353514
          2007            Guatemala   70.259   12572928   5186.050003
          2007                Haiti   60.916    8502814   1201.637154
          2007             Honduras   70.198    7483763   3548.330846
          2007              Jamaica   72.567    2780132   7320.880262
          2007               Mexico   76.195  108700891  11977.574960
          2007            Nicaragua   72.899    5675356   2749.320965
          2007               Panama   75.537    3242173   9809.185636
          2007             Paraguay   71.752    6667147   4172.838464
          2007                 Peru   71.421   28674757   7408.905561
          2007          Puerto Rico   78.746    3942491  19328.709010
          2007  Trinidad and Tobago   69.819    1056608  18008.509240
          2007        United States   78.242  301139947  42951.653090
          2007              Uruguay   76.384    3447496  10611.462990
          2007            Venezuela   73.747   26084662  11415.805690

In [56]:
gm.loc[(['Americas', 'Europe'], 2007), ['country', 'lifeExp']]

                               country  lifeExp
continent year
Americas  2007               Argentina   75.320
          2007                 Bolivia   65.554
          2007                  Brazil   72.390
          2007                  Canada   80.653
          2007                   Chile   78.553
          2007                Colombia   72.889
          2007              Costa Rica   78.782
          2007                    Cuba   78.273
          2007      Dominican Republic   72.235
          2007                 Ecuador   74.994
          2007             El Salvador   71.878
          2007               Guatemala   70.259
          2007                   Haiti   60.916
          2007                Honduras   70.198
          2007                 Jamaica   72.567
          2007                  Mexico   76.195
          2007               Nicaragua   72.899
          2007                  Panama   75.537
          2007                Paraguay   71.752
          2007                    Peru   71.421
          2007             Puerto Rico   78.746
          2007     Trinidad and Tobago   69.819
          2007           United States   78.242
          2007                 Uruguay   76.384
          2007               Venezuela   73.747
Europe    2007                 Albania   76.423
          2007                 Austria   79.829
          2007                 Belgium   79.441
          2007  Bosnia and Herzegovina   74.852
          2007                Bulgaria   73.005
          2007                 Croatia   75.748
          2007          Czech Republic   76.486
          2007                 Denmark   78.332
          2007                 Finland   79.313
          2007                  France   80.657
          2007                 Germany   79.406
          2007                  Greece   79.483
          2007                 Hungary   73.338
          2007                 Iceland   81.757
          2007                 Ireland   78.885
          2007                   Italy   80.546
          2007              Montenegro   74.543
          2007             Netherlands   79.762
          2007                  Norway   80.196
          2007                  Poland   75.563
          2007                Portugal   78.098
          2007                 Romania   72.476
          2007                  Serbia   74.002
          2007         Slovak Republic   74.663
          2007                Slovenia   77.926
          2007                   Spain   80.941
          2007                  Sweden   80.884
          2007             Switzerland   81.701
          2007                  Turkey   71.777
          2007          United Kingdom   79.425

In [57]:
gm.loc[(['Americas', 'Europe'], [1952, 2007]), ['country', 'lifeExp']]

                               country  lifeExp
continent year
Americas  1952               Argentina   62.485
          1952                 Bolivia   40.414
          1952                  Brazil   50.917
          1952                  Canada   68.750
          1952                   Chile   54.745
          1952                Colombia   50.643
          1952              Costa Rica   57.206
          1952                    Cuba   59.421
          1952      Dominican Republic   45.928
          1952                 Ecuador   48.357
          1952             El Salvador   45.262
          1952               Guatemala   42.023
          1952                   Haiti   37.579
          1952                Honduras   41.912
          1952                 Jamaica   58.530
          1952                  Mexico   50.789
          1952               Nicaragua   42.314
          1952                  Panama   55.191
          1952                Paraguay   62.649
          1952                    Peru   43.902
          1952             Puerto Rico   64.280
          1952     Trinidad and Tobago   59.100
          1952           United States   68.440
          1952                 Uruguay   66.071
          1952               Venezuela   55.088
          2007               Argentina   75.320
          2007                 Bolivia   65.554
          2007                  Brazil   72.390
          2007                  Canada   80.653
          2007                   Chile   78.553
...                                ...      ...
Europe    2007                 Albania   76.423
          2007                 Austria   79.829
          2007                 Belgium   79.441
          2007  Bosnia and Herzegovina   74.852
          2007                Bulgaria   73.005
          2007                 Croatia   75.748
          2007          Czech Republic   76.486
          2007                 Denmark   78.332
          2007                 Finland   79.313
          2007                  France   80.657
          2007                 Germany   79.406
          2007                  Greece   79.483
          2007                 Hungary   73.338
          2007                 Iceland   81.757
          2007                 Ireland   78.885
          2007                   Italy   80.546
          2007              Montenegro   74.543
          2007             Netherlands   79.762
          2007                  Norway   80.196
          2007                  Poland   75.563
          2007                Portugal   78.098
          2007                 Romania   72.476
          2007                  Serbia   74.002
          2007         Slovak Republic   74.663
          2007                Slovenia   77.926
          2007                   Spain   80.941
          2007                  Sweden   80.884
          2007             Switzerland   81.701
          2007                  Turkey   71.777
          2007          United Kingdom   79.425

[110 rows x 2 columns]

In [58]:
gm.loc[(:, [1952, 2007]), ['country', 'lifeExp']]

SyntaxError: invalid syntax (<ipython-input-58-f765717ce38b>, line 1)

In [59]:
gm.loc[(slice(None), [1952, 2007]), ['country', 'lifeExp']]

                                 country  lifeExp
continent year
Africa    1952                   Algeria   43.077
          1952                    Angola   30.015
          1952                     Benin   38.223
          1952                  Botswana   47.622
          1952              Burkina Faso   31.975
          1952                   Burundi   39.031
          1952                  Cameroon   38.523
          1952  Central African Republic   35.463
          1952                      Chad   38.092
          1952                   Comoros   40.715
          1952          Congo, Dem. Rep.   39.143
          1952               Congo, Rep.   42.111
          1952             Cote d'Ivoire   40.477
          1952                  Djibouti   34.812
          1952                     Egypt   41.893
          1952         Equatorial Guinea   34.482
          1952                   Eritrea   35.928
          1952                  Ethiopia   34.078
          1952                     Gabon   37.003
          1952                    Gambia   30.000
          1952                     Ghana   43.149
          1952                    Guinea   33.609
          1952             Guinea-Bissau   32.500
          1952                     Kenya   42.270
          1952                   Lesotho   42.138
          1952                   Liberia   38.480
          1952                     Libya   42.723
          1952                Madagascar   36.681
          1952                    Malawi   36.256
          1952                      Mali   33.685
...                                  ...      ...
Europe    2007                  Bulgaria   73.005
          2007                   Croatia   75.748
          2007            Czech Republic   76.486
          2007                   Denmark   78.332
          2007                   Finland   79.313
          2007                    France   80.657
          2007                   Germany   79.406
          2007                    Greece   79.483
          2007                   Hungary   73.338
          2007                   Iceland   81.757
          2007                   Ireland   78.885
          2007                     Italy   80.546
          2007                Montenegro   74.543
          2007               Netherlands   79.762
          2007                    Norway   80.196
          2007                    Poland   75.563
          2007                  Portugal   78.098
          2007                   Romania   72.476
          2007                    Serbia   74.002
          2007           Slovak Republic   74.663
          2007                  Slovenia   77.926
          2007                     Spain   80.941
          2007                    Sweden   80.884
          2007               Switzerland   81.701
          2007                    Turkey   71.777
          2007            United Kingdom   79.425
Oceania   1952                 Australia   69.120
          1952               New Zealand   69.390
          2007                 Australia   81.235
          2007               New Zealand   80.204

[284 rows x 2 columns]